.page-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  min-width: 320px;
  margin: 0;
}

.header-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
}

.button {
  color: @white;
}

.container {
  margin: 0 auto;
}
