.contacts {
  color: @red;
}

.contacts__title {
  color: @main-font-and-bg;
}

.phone__text {
  color: @main-font-and-bg;
}

.email__text {
  color: @main-font-and-bg;
}

.location__text {
  color: @main-font-and-bg;
}

.copyright {
  color: @main-font-and-bg;
}
