.form-registration__achievements {
  background-color: @bg-color-main;
}

.form-registration__app {
  background-color: @bg-color-main;
}

.form-registration__label,
.form-registration__legend-text {
  color: @red;
}
