.form-registration {
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-flow: row wrap;
  }
}

.form-registration__credentials-wrapper {
  @media (min-width: @tablet-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    width: 434px;
  }
}

.form-registration__achievements-wrapper {
  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-registration__contacts-wrapper {
  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-registration__app-wrapper {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.form-registration__emotions-wrapper {
  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-registration__submit-wrapper {
  @media (min-width: @tablet-width) {
    order: 6;
  }
}

.form-registration__achievements {
  background-color: @bg-color-main;
}

.form-registration__app {
  background-color: @bg-color-main;
}

.form-registration__label,
.form-registration__legend-text {
  color: @red;
}

.form-registration__legend-text {
  line-height: 18px;
}

.form-registration__input {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__label-checkbox {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__label-radio {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__textarea {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__button {
  font-size: 18px;
  font-weight: 700;
}
