.form-registration__achievements {
  background-color: @bg-color-main;
}

.form-registration__app {
  background-color: @bg-color-main;
}

.form-registration__label,
.form-registration__legend-text {
  color: @red;
}

.form-registration__legend-text {
  line-height: 18px;
}

.form-registration__input {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__label-checkbox {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__label-radio {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__textarea {
  font-size: 18px;
  color: @main-font-and-bg;
}

.form-registration__button {
  font-size: 18px;
  font-weight: 700;
}
