.photo-iditor__form {
  background-color: @bg-color-main;
}

.photo__author-name {
  font-weight: 700;
  line-height: 24px;
  color: @main-font-and-bg;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: @main-font-and-bg;
}

.photo__text {
  line-height: 24px;
  color: @main-font-and-bg;
}

.photo__likes-count {
  font-size: 12px;
  line-height: 24px;
  color: @red;
}
