.info {
  font-weight: 300;
  color: @white;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
}

.info__download-button {
  font-size: 18px;
  font-weight: 700;
  color: @white;
}

.info__note {
  font-weight: 300;
  line-height: 24px;
}

.info__image-wrapper {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.info__content-wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.info__slogan-wrapper {
  outline: 5px solid rgba(255, 231, 0, 255);
  outline-offset: -5px;
}
