.page-header {
  background-color: @bg-color-header;
  background-image: url("/img/bg-header.png");
  background-position: left;
  background-repeat: no-repeat;
  color: @white;
  display: flex;
  flex-direction: column;
}

.header-title__wrapper {
  min-height: 171px;
}

.header-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68.09px;
  }
}

.page-header__logo {
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 150px;
  }
}
