.page-main {
  color: @main-font-and-bg;
  margin: 0 auto;
}

.subtitle-wrapper {
  text-align: center;
}

.subtitle-additional {
  display: none;
}

@media (min-width: @tablet-width) {
  .subtitle-additional {
    display: inline;
  }
}
