.rates {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: @bg-color-main;
}

.rates-table__caption--flag {
  font-size: 16px;
  background-color: @main-font-and-bg;
  color: @white;
}

.rates__wrapper {
  overflow: hidden;
  text-transform: uppercase;
}

.rates__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;
}
