.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: @bg-color-main;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.upload-form__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.upload-form__button--active {
  color: @red;
  border: 3px solid @red;
  box-sizing: border-box;
  border-radius: 30px;
}
